body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* 
font-family: 'Roboto', sans-serif;
font-family: 'Source Serif Pro', serif; */



/** STYLES */

/* Global variables */
$main: #77c4f6;
$dark: #354458;
$light: #cef6ff;
$small: 768px;
$smallFont:12px;

/*imports*/
@import "components/app-bar/app-bar.styles.scss";
@import "components/custom-icon/custom-icon.styles.scss";
@import "components/button/button.styles.scss";
@import "components/gallery/gallery.styles.scss";
@import "components/slider/slider.styles.scss";
@import "components/slider/slide/slide.styles.scss";

@import "sections/contact/contact.styles.scss";
@import "sections/header/header.styles.scss";
@import "sections/about/about.styles.scss";
@import "sections/projects/projects.styles.scss";
@import "sections/clients/clients.styles.scss";
@import "sections/footer/footer.styles.scss";

.container { 
  width:90%;
  margin: auto;
      
}

h3 {
  color:$dark;
}

.text-wrapper {
  max-width: 80%;
  
  text-align: center;
  margin:3em auto;
  

  h1 {
      color:$dark;
  }

  p {
      
      font-family: 'PT Serif', serif;
  }



}


@media screen and (max-width:$small) {
  body {font-size:12px;}
  .set {flex-wrap: wrap;}
  .bg-photo .opinions  {
    .inner-quotes {
      display: block; 
      width:100%;
     } 
    }
    .contact {
      width: 100%;
      
    }
    .slider-wrapper {
      flex-wrap: wrap;
    }

    .slide-item{
      height: 10vh;
    }
}
