.slider-wrapper {
    display: flex;
}

button {
    background: transparent;
    border:none;
    outline: none;
    color:#77c4f6;     
        .MuiSvgIcon-root{

            font-size: 4rem;
        }
     
}